
<html>
<head>
    <link rel="stylesheet" href="__static__/css/backstage/amazeui.min.css"/>
    <link rel="stylesheet" href="__static__/css/backstage/admin.css">
    <script src="__static__/js/backstage/jquery.min.js"></script>
    <link rel="stylesheet" href="__static__/css/animate.min.css " type="text/css">
</head>

</head>

<body>
<div class=" admin-content">

    <div class="daohang">
        <ul>
            <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 房屋列表 </li>


        </ul>




    </div>
<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 房屋列表</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="#">房屋列表</a></dl>
      

      
      
    </div>
	
	<div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
  <ul>
    <li style="margin-right: 0;">
    	<span class="tubiao am-icon-calendar"></span>
      <input type="text" class="am-form-field am-input-sm am-input-zm  am-icon-calendar" placeholder="添加日期" data-am-datepicker="{theme: 'success',}"  readonly/>
    </li>
       <li style="margin-left: -4px;">
    	<span class="tubiao am-icon-calendar"></span>
      <input type="text" class="am-form-field am-input-sm am-input-zm  am-icon-calendar" placeholder="修改日期" data-am-datepicker="{theme: 'success',}"  readonly/>
    </li>
    
        <li style="margin-left: -10px;">
      <div class="am-btn-group am-btn-group-xs">
      <select data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}">
        <option value="b">分类</option>
        <option value="o">长租</option>
          <option value="o">短租</option>
          <option value="o">二手房</option>
          <option value="o">长租</option>
      </select>
      </div>
    </li>
      <li style="margin-left: 0px;">
          <div class="am-btn-group am-btn-group-xs">
              <select data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}">
                  <option value="b">情况</option>
                  <option value="o">已租</option>
                  <option value="o">未租</option>
                  <option value="o">已售</option>
                  <option value="o">未售</option>
              </select>
          </div>
      </li>
    <li><input type="text" class="am-form-field am-input-sm am-input-xm" placeholder="关键词搜索" /></li>
    <li><button type="button" class="am-btn am-radius am-btn-xs am-btn-success" style="margin-top: -1px;">搜索</button></li>
  </ul>
</div>


    <form class="am-form am-g">
          <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
              <tr class="am-success">
<!--                <th class="table-check"><input type="checkbox" /></th>-->
                <th class="table-id">ID</th>
                <th class="table-title">标题</th>
                <th class="table-type">类别</th>
                <th class="table-date am-hide-sm-only">修改日期</th>
                <th width="163px" class="table-set">操作</th>
              </tr>
            </thead>
            <tbody>
            	{volist name='lists' id='list' key='key'}
              <tr>
<!--                <td><input type="checkbox" /></td>-->
                <td>{$key}</td>
                <td><a href="house_detail.html?id={$list.id}">{$list.title}</a></td>
                <td>{$list.rent_type_name}</td>
                <td class="am-hide-sm-only">{$list.update_time}</td>
                <td><div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <div class="am-btn am-btn-default am-btn-xs am-text-success am-round" onclick="go_detail({$list.id})"><span class="am-icon-search"></span> </div>
                      <div class="am-btn am-btn-default am-btn-xs am-text-secondary am-round" onclick='edit_detail({$list.id})'><span class="am-icon-pencil-square-o"></span></div>
                      <div class="am-btn am-btn-default am-btn-xs am-text-danger am-round" onclick='delete_house({$list.id})'><span class="am-icon-trash-o"></span></div>
                    </div>
                  </div></td>
              </tr>
              {/volist}
              
            </tbody>
            <!--{$page}-->
          </table>
          
                 <div class="am-btn-group am-btn-group-xs">
<!--              <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>-->
            </div>
          {$lists->render()}

          
          
          
      
          <hr />
       </form>
</div>
</div>
</div>
</body>
</html>
<script type="text/javascript">
		$(document).ready(function(){
		})
		function go_detail(a){
			location.href='house_detail.html?id='+a;
		}
		function edit_detail(a){
			location.href='house_detail.html?id='+a;
		}
		function delete_house(a){
			$.ajax({  
                type: "POST",  
                url:"delete_house",  
                data:{'a':a},// 序列化表单值  
                dataType: "json", 
                success: function(data) {
					alert('删除成功');
					location.reload();
                }  
           });
		}
</script>