<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Amaze UI Admin index Examples</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="__static__/img/backstage/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="__static__/img/backstage/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__static__/css/backstage/amazeui.min.css"/>
<link rel="stylesheet" href="__static__/css/backstage/admin.css">
<script src="__static__/js/backstage/jquery.min.js"></script>
<script src="__static__/js/backstage/app.js"></script>
</head>
<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->
</head>
<body>
<header class="am-topbar admin-header">
  <div class="am-topbar-brand"><img src="__static__/img/backstage/i/logo.png"></div>
  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">
   <li class="am-dropdown tognzhi" data-am-dropdown>
  <button class="am-btn am-btn-primary am-dropdown-toggle am-btn-xs am-radius am-icon-bell-o" data-am-dropdown-toggle> 消息管理<span class="am-badge am-badge-danger am-round">6</span></button>
  <ul class="am-dropdown-content">
    <li class="am-dropdown-header">所有消息都在这里</li>
    <li><a href="#">未激活会员 <span class="am-badge am-badge-danger am-round">556</span></a></li>
    <li><a href="#">未激活代理 <span class="am-badge am-badge-danger am-round">69</span></a></a></li>
  </ul>
</li>
 <li class="kuanjie">
 	<a href="#">会员管理</a>          
 	<a href="#">个人中心</a> 
 	<a href="#">系统设置</a>
 </li>
 <li class="soso">
 </li>
      <li class="am-hide-sm-only" style="float: right;"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>
<div class="am-cf admin-main"> 
{include file='backstage/back_left'}

<div class=" admin-content">


{include file='backstage/list_1'}
</div>
<div class="admin">
	<div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
</div>
<div class="admin">
    <iframe scrolling="auto" class='admin_frame' border=0 rameborder="0" src="backstage/house_list" name="right" width="100%" height="99%" style="background-color: #ffffff"></iframe>
</div>
<!--[if (gte IE 9)|!(IE)]><!--> 
<script src="__static__/js/backstage/amazeui.js"></script>
<!--<![endif]-->
</body>
</html>
<script type='text/javascript'>
	function get_prev(a){
		console.log($(a));
	}
</script>
