<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link type="text/css" rel="stylesheet" href="__static__/css/galleryview.css" />
		<link type="text/css" href='__static__/css/detail.css' rel="stylesheet"></link>
	</head>
	<body>
		<div id='a'></div>
		<div id='mob_index'>
			{include file='index/top' }
			<div id='detail_list_pic' class="galleryview">
				{foreach name='pic' id='pic_list' key='key'}
				  <div class="panel">
				     <img src="__pic__/uploads/{$pic_list}" style='width:100%;height:100%' />
				    <div class="panel-overlay">
				    </div>
				  </div>
				{/foreach}
				  <ul class="filmstrip">
				{foreach name='pic' id='pic_list_1' key='key'}
    			<li style='width:5%;'><img src="__pic__/uploads/{$pic_list_1}" alt="Effet du soleil" title="Effet du soleil" style='width:100%;height:100%'/></li>
  				{/foreach}
				  </ul>
			</div>
			<div id='detail_main'>
				<div id='detail_detail_title'>
					<div class='detail_title_title'>【{$area}】{$house.title}</div>
					<!--<div class='detail_title_list'>
						<div>租金：{$house.price}元/月</div>
						{foreach name='keyword' id='word'}
						<a href=''>{$word}</a>
						{/foreach}
					</div>
					<div class='detail_title_list' id='price'>会员价：{$house.price}元/月起</div>
					<div>预计9月1日可租</div>
					<div>押一付一</div>-->
					<table class='detail_title_list'>
						<tr>
							<td>租金：{$house.price}元/月</td>
							<td class='title_list_right'>会员价：<span class='price_bow'>{$house.price}</span>元/月起</td>
						</tr>
						<tr >
							<td>{foreach name='keyword' id='word'}
								<a href=''>{$word}</a>
								{/foreach}
							</td>
							<td class='title_list_right'><sppn>预计9月1日可租</sppn><span>押一付一</span></td>
						</tr>						
					</table>
				</div>
				<table id='detail_detail_detail'>					
					<tr>
						<td>独立设施：{$type}</td>
						<td>面积：{$house.acreage}</td>
					</tr>
					<tr>
						<td>房型：{$house.house_floor}楼</td>
						<td>朝向：{$house.underground}</td>
					</tr>
					<tr>
						<td>楼层</td>
					</tr>
				</table>
				<div id='detail_detail_allocation'>
					<div style='color:#B0B0B0;font-size:80%;'>房间配置：具体配置以现场实际情况为准</div>
					<div style='width:100%;height:15%;padding-top:5%'>
					{foreach name='furniture' id='furniture'}
					<div class='allocation_list'><img src='__static__/img/gou.png' /><span style='padding-left:5px;font-size:14px;'>{$furniture}</span></div>
					{/foreach}						
					</div>
				</div>
			</div>
			<!--<div id='detail_comment'>
				{$house.remark}
			</div>		-->
			<div id='map'>
				<div id='map_title'>
					<div style='float: left;'>周边及交通</div><div style='float: right;'>查看介绍 ></div>
				</div>
				<div id='detail_map'>
					
				</div>
				<div class="detail_word">
					<li><img src="__static__/img/shopping.png" /><span>购物</span>{$house.shopping_nearby}</li>
					<li><img src="__static__/img/free.png" /><span>休闲</span>{$house.rest_nearby}</li>
					<li><img src="__static__/img/hospital.png" /><span>医院</span>{$house.hospital_nearby}</li>
					<li><img src="__static__/img/translate.png" /><span>交通</span>{$house.translate_nearby}</li>
				</div>
			</div>

			
		</div>
		<input type='hidden' name='longitude' id='longitude' value='{$house.longitude}'  />
		<input type='hidden' name='latitude' id='latitude' value='{$house.latitude}'  />
		{include file='index/bottom' }
	</body>
</html>
<script type='text/javascript' src='__static__/js/jquery.min.js'></script>
<script type="text/javascript" src="__static__/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__static__/js/jquery.galleryview-1.1.js"></script>
<script type="text/javascript" src="__static__/js/jquery.timers-1.1.2.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=cPMTIrV5Q6gkmpt0ZYsuGhCvHdn2vNFv"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#detail_list_pic').galleryView({
		panel_width: 375,
		panel_height: 250,
		frame_width: 100,
		frame_height: 80
	});
	var map = new BMap.Map("detail_map");
	map.centerAndZoom(new BMap.Point($('#longitude').val(),$('#latitude').val()),11);
		setTimeout(function(){
		map.setZoom(16);   
	}, 2000);  //2秒后放大到14级
	map.enableScrollWheelZoom(true);
	map.clearOverlays(); 
	var new_point = new BMap.Point($('#longitude').val(),$('#latitude').val());
	var marker = new BMap.Marker(new_point);  // 创建标注
	map.addOverlay(marker);              // 将标注添加到地图中
	map.panTo(new_point); 
});
	// 百度地图API功能


     
</script>
