<div class="item" onclick="gotodetail(17)">
    <div class="list_detail">
        <div class="list_detail_left">
            <img src="http://localhost/set/public//uploads/IMG_2383_.jpg">
            <div class="sta h_status_2">配置中</div>
        </div>
        <div class="list_detail_right">
            <div class="list_detail_title">
                <span>世纪大道站附近老公房新...</span>
            </div>
            <div class="list_detail_content">

                60m<sup>2</sup>&nbsp;&nbsp;|&nbsp;&nbsp;6层<span style="margin-left:6%;color:orange;"><span style="font-size:150%;">￥7200</span>元/月</span><br>
                <img src="http://localhost/set/public/static/img/p_1.png" style="width:8%;	vertical-align:middle;">世纪大道<span style="padding-right: 21%;float: right;">乳山二村</span><br>

                <div class="key_word">方便</div>
                <div class="key_word">近地铁</div>
                <div class="key_word">独门独户</div>
                <div class="key_word">楼层适中</div>
            </div>
            <!--<div class='list_detail_price'>
                7200									</div>-->
        </div>
    </div>
</div>
