<html>
	<head>	
	</head>
	<body>
		<div id='index_left'>
			<div id='left_top'>
				<img src='__static__/img/user-orange.png'/><span>未登录</span><input type='image' onclick="meau_back()" src='__static__/img/left124.png'/>
			</div>
			<hr style='width:90%;border: 1px solid orange;'/>
			<div id='left_main'>
				<ul>
					<li><a href="__back__">首页</a></li>
					<li><a href="__back__/index.php/index/detail_list/index/a/1">开心安家</a></li>
					<li><a href="__back__/index.php/index/tuo_guan/">放心托管</a></li>
					<li><a href="__back__/index.php/index/detail_list/index/a/0">贴心短租</a></li>
					<li><a href="__back__/index.php/index/map">房产地图</a></li>
					<li><a href="__back__">关于我们</a></li>
					<li><a href="__back__">我们动态</a></li>
				</ul>
			</div>
		</div>		
	</body>
</html>	

