<html>
	<head>	
	</head>
	<body>
		<div id='index_left'>
			<div id='left_top'>
				<img src='../public/static/img/user-orange.png'/><span>未登录</span><input type='image' onclick="meau_back()" src='../public/static/img/left124.png'/>
			</div>
			<hr style='width:90%;border: 1px solid orange;'/>
			<div id='left_main'>
				<ul>
					<li>首页</li>
					<li>开心安家</li>
					<li>放心托管</li>
					<li>贴心短租</li>
					<li>房产地图</li>
					<li>关于我们</li>
					<li>我们动态</li>
				</ul>
			</div>
		</div>		
	</body>
</html>	

